html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: aliceblue;
	cursor: pointer;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	min-height: 100%;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	color: #2c2a2a;
}



/* HERO */
.hero img {
	flex-grow: 1;
	z-index: -10;
	width: 100%;
	margin-top: -25%;
}

/* ABOUT PAGE */

.about-wrapper {
	display: flex;
	flex-direction: column;
}

.about-text {
	font-size: 2rem;
	padding: 40px;
}

.about-img img {
	width: 100%;
}

footer {
	display: inline-flex;
	justify-content: space-between;
	background-color: rgba(255, 254, 254, 0.3);
	width: 100%;
	padding: 10px;
	flex-shrink: 0;
}

@media (max-width: 1010px) {

	footer {
		margin-top: 5%;
	}
}

@media (max-width: 500px) {


	/* FOOTER */
	footer {
		margin-top: -50%;
	}

	footer p {
		font-size: 0.7rem;
		padding: 10px;
	}

	footer .logo {
		width: 30px;
	}
}