html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
    font-family: 'Poppins', sans-serif;
    margin: 0;   
  
  }
/* header */

 h1 {
      font-family: 'Poppins', sans-serif;
      font-size: 2em;
      font-weight: 500;
      color: whitesmoke;
  
      
  }
 

  nav{
      display: flex;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 10px 10px;
     
  }

  .btn-users {
    justify-content: center;
  }

  .btn-users input[type="search"] {
    padding: 0 50px;
  }

  .text-center .btn  {
    background: #401613;
  }

  .btn-users a {
    color: whitesmoke;  
  }

  #modalLRForm {
    color: #401613;
  }

  .nav-link {
    color: #401613;
  }

  /* hero img */
   
  .hero_img img{
     width: 100%;
     position: relative;
     top: -45px;
     z-index: -1;
  }

  /* search form */

  .form {
      position: relative;
      top: -50px;
      margin: 0 10px;
      font-size: 1em;
      
  }

  .flex-form {
      display: grid;
      grid-template-rows: auto;
      
      
  }
  textarea:focus, input:focus{
    outline: none;
}

  .form input[type="search"] {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-style: none;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
  }

  .icon {
    position: relative;
    top: 40px;
    width: 5%;
    
  }

  .form select {
    width: 95%;
    padding: 20px;
    border-style: none;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    justify-self: end;
  }


  .form input[type="date"] {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-style: none;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;

  }
  .form input[type="submit"] {
   background: #401613;
   border-style: none;
   border-radius: 20px;
   color:white;
   margin-top: 15px;
   padding: 15px;
   font-size: 1.3em;
  }

  .btn-users button {
  color: whitesmoke;
  }


  /* profile */
 .wrapper-profile {
   display: grid;
   grid-template-columns: 30% 70%;
   grid-auto-rows: auto;
   align-items: center;
   
 }

 .profile {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
 }

 .profile img {
   width: 90%;
   border-radius: 40px;
   margin: 10px;
   
 }

 #badge {
   font-size: 1em;
   grid-column: 2 / 3;
   grid-row: 1 / 3;
  justify-self: flex-start;
 }

 .badge{
   cursor: pointer;
 }

 .text-profile {
   grid-column: 1 / 3;
   font-size: 1em;
   padding: 20px;
   font-family: 'Poppins', sans-serif;
   
 }

 figcaption {
   width: 40%;
   font-size: 0.5em;
   border-radius: 20px;
   margin-left: 40px;
   border: 2px solid #401613;
 }

  /* img body */
  .img-1 img{
    width: 100%;
  }
  .img-2 img{
    width: 100%;
  }

  /* text body */

  h2 {
      font-size: 1.5em;    
      line-height: normal;
      margin: 20px;
      padding: 20px;
  }


  p {
    font-size: 0.8em; 
    line-height: normal;
    margin: 20px;
    padding: 20px;
  }


  /* gallery */

  .text2{
    display: none;
  }
  .gallery {
    display: none;
  }
/* gallery users */

.users {
  border: 2px solid rgba(64, 22, 19, 0.2);
  padding: 10px;
  border-radius: 10px;
  
}
  .users img{
    width: 100%;
    height: 80%;
  }

  /* footer */
  footer {
   
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    padding: 20px;
    margin-top: -20px;
    display: flex;
    justify-content:space-between;
    align-content: flex-end;
    flex-shrink: 0;
    
  }
  
  footer li  {
    
    list-style-type: none;
    text-align: left;
    font-size: 1em;  
  }

  footer li a{
    color: antiquewhite;
    text-decoration: none;
  }

  footer  li a:hover{
    color: #401613;
    text-decoration: none;


  }

  
  footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    

  }

  

  .headdingtxt {

    font-size: 3em;
    color: #401613;
    margin-top: 100px;
    text-align: center;
  }

  .abouttxt {
    font-size: 1em;
    padding: 50px;
    color: #401613;
    margin-bottom: 179px;
  }


  @media (min-width:600px){

    h1{
      font-size: 3em;
    }

    .form {
      top: -20px; 
      margin: 30px;
    }

    .profile img {
      width: 70%;
    }

    figcaption {
      font-size: 1em;
      margin-left: 30px;
    }

    #badge {
      font-size: 1.5em;
      justify-self: center;
    }

    .text-profile {
      font-family: 'Poppins', sans-serif;
    }


    h2{
      font-size: 1.5em;
      line-height: normal;
    }

    p{
      font-size: 1.5em;
      letter-spacing:normal;
    }

    .gallery{
      display: none;
    }

    .users img{
      width: 100%;
    }

    .users p {
      font-size: 1em;
    }


    footer {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      justify-self: flex-end;
      flex-shrink: 0;
    }

    footer li {
      display: inline-flex;
      padding: 20px;
      text-decoration: none;
    }

    footer li a{
      color: antiquewhite;
      text-decoration: none;
    }

    footer  li a:hover{
      color: #401613;
      text-decoration: none;

  
    }

    footer p {
    margin-right: 80px;   
   }

  
    .form input[type="submit"] {
     width: 50%;
     justify-self: center;
     }

     .headdingtxt {

      font-size: 3em;
      color: #401613;
      text-align: center;
    }
  
    .abouttxt {
      font-size: 1em;
      padding: 50px;
      color: #401613;
    }
  


    }


  @media (min-width:1200px){
  

    nav {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      margin: 0;
      
    }

    .wrapper-profile {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(2, 1fr);

    }

    .profile {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      margin-left: 50px;
    }

    .text-profile {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      font-family: 'Poppins', sans-serif;
      font-size: 1em;
      padding: 10px;
     
    }

    #badge {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    .profile img {
      width: 50%;
    }
    
    figcaption {
      font-size: 1.5em;
      margin-left: 20px;
    }

    .hero_img img {
      position: relative;
      z-index: -2;
      width: 100%;
      margin-top: -15%;
      margin-bottom: -61px;
    }


    .form {
      background: rgba(48, 46, 46, 0.4);
      border-radius: 20px;
      color: whitesmoke;
      position: absolute;
      width: 500px;
      top: 150px;
      right: 10%;
      z-index: 3;
      margin: 30px;
      padding: 20px;
    }

    .modal-footer p {
      font-size: 1em;
    }

    .icon {
      width: 15px;
      
    }

   

  .main-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .text {
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    height: 300px;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
  }

  .text h2 {
    font-size: 2em;
    margin: 20px;
    line-height: normal;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
  }

  .text p {
    
    font-size: 1.5em;
    margin: 20px;
    line-height: normal;
    grid-column: 1 / 2;
    grid-row: 1 / 2
  }

  .img-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;


  }

  .img-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
  
  }

  

  .text2{
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 1em;
    margin: 0 80px;
  }

  .text2 h2 {
    padding: 30px;
  }

  

  .users p {
    font-size: 1.3em;
  }

  .gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    
  }

  .gallery-item1 img {
    width: 100%; 
  }

  .gallery-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    padding: 20px 60px;
   
  }

  .gallery-item2 img {
    width: 100%;
  }

  
  .gallery-item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 100%;
    padding: 20px 60px;
  }

  .gallery-item3 img {
    width: 100%;
  }

  
  .gallery-item3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    padding: 20px 60px;
  }

  .gallery-item4 img {
    width: 100%;
  }

  
  .gallery-item4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    padding: 20px 60px;
  }

  .gallery p {
    font-size:1.5em;
    text-align: center;
  }
  

  footer {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    justify-self: flex-end;
    align-self: flex-end;
    flex-shrink: 0;
    margin-top: 68px;
  }

  footer  li a {
    display: inline-flex;
    margin: 40px 20px;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
  }

  footer  li a:hover{
    color: #401613;
    text-decoration: none;

  }

  

  .headdingtxt {

    font-size: 5em;
    color: #401613;
    text-align: center;
  }

  .abouttxt {
    font-size: 1.5em;
    margin: 0 300px 40px;
    padding: 50px;
    color: #401613;
  }


  }


    



  
  